/* Global Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: white;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Hero Section */
.hero {
    position: relative;
    background-image: url('984168.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    z-index: -1;

}

.hero h1 {
    font-size: 3rem;
    margin-top: 0;
}

.hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.hero .btn {
    padding: 10px 20px;
    background-color: #ff5733;
    border-radius: 5px;
    font-size: 1rem;
}

/* Car Showcase Section */
.car-showcase {
    padding: 50px;
    background-color: #f9f9f9;
}

.cars-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.car-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 20px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.car-card img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.car-card h3 {
    margin-top: 15px;
}

.car-card:hover {
    transform: scale(1.05);
}

/* Testimonial Section */
.testimonials {
    background-color: #ff5733;
    color: white;
    padding: 50px 0;
}

.testimonial-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.testimonial-card {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 30%;
    margin: 20px;
    text-align: center;
}

.testimonial-card p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.testimonial-card h3 {
    font-weight: normal;
}

.testimonial-card:hover {
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {

    .cars-container,
    .testimonial-cards {
        flex-direction: column;
    }

    .car-card,
    .testimonial-card {
        width: 80%;
        margin: 20px auto;
    }

    .hero h1 {
        font-size: 2.5rem;
    }
}
